.carte{
    height: 400px !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    overflow: hidden;
    border-radius: 20px;
    min-width: 300px;
    justify-content: space-between !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.carte:hover{
    opacity: 0.9;
}
.card-body{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    width: 99%;
}
.carte p{
    font-size: 1vw !important;
    text-align: left;
}
.details{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: auto;
}
.details a{
    background: none;
    color: gray;
    border: none;
}

@media screen and (max-width: 767px){
    .carte p{
        font-size:  2vw !important;
    }
    .card-corps{
        border-radius: 20px;
    }
    .carte h5{
        font-size: 5vw;
        color: blue;
    } 
    .details a i{
        font-size:  3vw !important;
    }
    .projects{
        justify-content: flex-start;
    }
    .carte{
        min-width: 100% !important;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        gap: 2px !important;
        height: fit-content !important;
        background-color: white;
        color: black !important;
        padding: 10px !important;
        border-radius: 20px;
    }
    .carte img{
        width: 100px;
        height: 100px !important;
        border-radius: 10px;
    }
    .card-corps{
        flex: 1;
        width: 100%;
        padding: 1%;
        gap: 2px !important;
    }
    .details h6{
        font-size: 2vw !important;
        color: rgb(198, 226, 255);
    }
}