footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 1vw;
    color: rgb(198, 226, 255);
    background-color: rgb(112,128,144);
}
footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


@media screen and (max-width: 1024px){
    footer{
        flex-direction: column-reverse;
        font-size: 2vw;
    }
}