
.portfolio{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    max-height: 100vh;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
aside{
    width: fit-content;
    color: black;
    padding: 1rem;
    background-color: azure;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
aside:hover{
   
    opacity: 0.8;
}
aside li{
    margin-top: 1rem;
    cursor: pointer;
}
aside ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

aside li a{
    color: black;
    font-size: 1vw;
}
aside li:hover a{
   color: gray;
}

.portfolioContent{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    overflow: auto; /* Active le défilement vertical */
    height: 100%; /* Prend tout l'espace disponible */
    padding-right: 1rem; /* Optionnel : Ajoute un peu d'espace pour le défilement */
    scrollbar-width: thin; /* Améliore l'apparence de la scrollbar sur Firefox */
}
.portfolioContent::-webkit-scrollbar {
    width: 8px;
}

.portfolioContent::-webkit-scrollbar-thumb {
    background: #888; /* Couleur de la barre de défilement */
    border-radius: 10px;
}

.portfolioContent::-webkit-scrollbar-thumb:hover {
    background: #555; /* Couleur au survol */
}
section{
    display: grid;
    place-items: center;
    align-items: center;
    max-height: 600px;
    background-color: #19181b;
    width: 80%;
    border-radius: 20px;
    color: gray;
}
.carou{
    flex: 1;
    padding: 1rem;
}
/* ============= section3============*/
.aprops{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}
.section-item:nth-child(2){
    transition-delay: 200ms;
}
.section-item:nth-child(3){
    transition-delay: 400ms;
}
aside ul h1{
    font-size: 1vw;
    color: #131316;
   }

  
   form{
    display: flex;
    flex-direction: column;
   }

   label{
    margin-top: 1vh;
   }
   /*=============section 4===============*/
   .service{
       
        flex: 1;
        padding: 1%;
   }
   .service ul{
        list-style: number;
        display: flex;
        flex-direction: column;
        width: 99%;
        height: 100%;
        justify-content: space-between;
   }
   #submit{
    margin-top: 1rem;
    animation: none;
   }
   .service ul li{
    margin: 0 1rem;
    list-style: none;
    font-size: 2vw;
    color: gray;
    height: fit-content;
    padding: 1rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
   }

 
   textarea{
    border-radius: 10px;
   }
   input{
    border-radius: 5px;
   }
   #spc{
    border: none;
    text-align: left;
   }
   /*================section 5 ==============*/
   .filter{
     width: 99%;
     height: fit-content;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .filter ul{
        display: flex;
        list-style: none;
        gap: 0.3rem;
        width: 99%;
        overflow: auto;
        align-items: center;
        justify-content: center;
   }
  
   .filter ul li button{
    animation: none;
    transform: none;
    height: fit-content;
    color: gray;
    width: fit-content;
    padding: 0.2rem;
    font-size: 1vw;
    background: none;
    border: none;
   
    text-decoration: underline;
   }
   .filter ul button:checked{
        background-color: red;
   }
   .card-container{
    flex: 1;
    display: flex;
    width: 99%;
    gap: 1rem;
    padding: 1%;
    overflow: auto;
    align-items: center;
    justify-content: flex-start;
    scroll-behavior: smooth; /* Défilement fluide */
    scrollbar-width: thin;
    
}
.com {
    width: 300px;
    min-width: 300px;
    height: 300px;
    background-color: #19181b;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
}
.com:hover{
    opacity: 0.9;
}
.com img{
    height: 90%;
    width: 100%;
}
.com h5{
    color: gray;
    text-transform: uppercase;
}
#section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section1 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


/*@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}*/
@media screen and (max-width:767px){
    section{
        width: 100%;
        align-items: center;
        justify-content: center;
        height: fit-content !important;
        box-shadow: none;
        color: white;
    }
    .portfolioContent{
        gap: 0;
    }
    #section2{
        display: none;
    }
    .service ul {
        gap: 0;
        justify-content: center;
    }
    aside{
        display: none;
    }
   h1{
        font-size: 4vw;
   }
   h3{
        font-size: 3vw;
   }
   h4{
        font-size: 2vw;
   }
   .service ul{
        flex-direction: column;
   }
 
   .aprops{
        display: flex;
        flex-direction: column;
        align-items: center;
   }
   .service ul li{
    font-size: 3vw;
   }
   .aprops p{
        font-size: 4vw;
        text-align: left;
        box-shadow: none;
   }
   .card{
        min-width: 300px;
   }
   .card-container{
    justify-content: flex-end;
    overflow: auto;
   }
}
@media screen and (min-width:501px) and (max-width:1024px){
    .portfolio{
        flex-direction: column;
        align-items: center;
    }
    aside{
        width: 80%;
        height: fit-content;
        margin: 0;
        justify-content: center;
        padding: 0;
    }
    h4{
        font-size: 1.5vw;
    }
    aside ul {
        flex-direction: row;
        position: absolute;
        z-index: 1;
        align-items: center;
    }
    aside ul h1{
        display: none;
    }
    aside ul li{
        margin: 0 1rem;
    }
    aside ul li a{
        color: white;
    }
}
@media screen and (max-width:900px){
    aside ul li a{
        font-size: 1.2vw;
        text-transform: uppercase;
        color: gray;
    }
    aside{
        width: 100%;
    }
    .aprops p{
        font-size: 1.5vw;
    }

}

