
.portfolio{
    background-color: black;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    overflow: auto;
}
aside{
    width: fit-content;
    color: black;
    padding: 1rem;
    background-color: azure;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
aside:hover{
   
    opacity: 0.8;
}
aside li{
    margin-top: 1rem;
    cursor: pointer;
}
aside ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

aside li a{
    color: black;
    font-size: 1vw;
}
aside li:hover a{
   color: gray;
}

.portfolioContent{
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    overflow: auto; /* Active le défilement vertical */
    height: 100%; /* Prend tout l'espace disponible */
    padding-right: 1rem; /* Optionnel : Ajoute un peu d'espace pour le défilement */
    scrollbar-width: thin; /* Améliore l'apparence de la scrollbar sur Firefox */
}
.portfolioContent::-webkit-scrollbar {
    width: 8px;
}

.portfolioContent::-webkit-scrollbar-thumb {
    background: #888; /* Couleur de la barre de défilement */
    border-radius: 10px;
}

.portfolioContent::-webkit-scrollbar-thumb:hover {
    background: #555; /* Couleur au survol */
}

section{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #19181b;
    width: 99%;
    border-radius: 20px;
    color: gray;
    gap: 1rem;
   
}

#section1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ============= section3============*/
.aprops{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.show{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        transition: all 1s;
}


aside ul h1{
    font-size: 1vw;
    color: #131316;
   }

  
 
   /*=============section 4===============*/
   .service{
     
        flex: 1;
        padding: 1%;
   }
   .service ul{
        list-style: number;
        display: flex;
        flex-direction: column;
        width: 99%;
        height: 100%;
        justify-content:center;
   }
  
   .service ul li{
    margin: 0 1rem;
    list-style: none;
    font-size: 2vw;
    color: gray;
    height: fit-content;
    padding: 1rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
   }

 
 
  
   /*================section 5 ==============*/
   #section5 div{
        width: 100%;
   }
   .filter{
     width: 99%;
     height: fit-content;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .filter ul{
        display: flex;
        list-style: none;
        gap: 0.3rem;
        width: 99%;
        overflow: auto;
        align-items: center;
        justify-content: center;
   }
  
   .filter ul li button{
    animation: none;
    transform: none;
    height: fit-content;
    color: gray;
    width: fit-content;
    padding: 0.2rem;
    font-size: 1vw;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
   }
   .filter ul li button.bactive{
        background-color: white;
        color: black;
        border-radius: 50%;
        height: fit-content;
        width: fit-content;
        padding: 10px;
   }
   .card-container{
    display: flex;
    width: 99%;
    gap: 1rem;
    padding: 1%;
    overflow: auto;
    align-items: center;
    justify-content: flex-start;
    scroll-behavior: smooth; /* Défilement fluide */
    scrollbar-width: thin;
    
}
.com {
    width: 300px;
    min-width: 300px;
    height: 300px;
    background-color: #19181b;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
}
.com:hover{
    opacity: 0.9;
}
.com img{
    max-height: 90%;
    max-width: 100%;
}
.com h5{
    color: gray;
    text-transform: uppercase;
}

#section1 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.plist{
    display: flex;
    width: 99%;
    
    overflow: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
h4{
    font-size: 2vw;
    font-style: italic;
}
/*======================== section contact =========================*/
form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 99%;
        padding: 10px;
        grid-template-rows: auto;
        height: auto;
        position: relative;
        gap: 10px;
   }

   .inputcon{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: baseline;
    
   }
   label{
    text-transform: uppercase;
   }

 #submit{
    margin-top: 1rem;
    animation: none;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    grid-row: 2;
    grid-column: 2;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
   }
   textarea{
        border-radius: 10px;
        height: 60px;
        justify-self: center;
        grid-column: 1;
        width: 100%;
   }
   input{
    border-radius: 5px;
    height: 40px;
    width: 100%;
   }
/*@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}*/
@media screen and (max-width:767px){
    section{
        width: 100%;
        align-items: center;
        padding: 1%;
        box-shadow: none;
        color: white;
    }
    #section1{
        justify-content: center;
    }
    #section1 .det{
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        color: white !important;
        align-items: center !important;
    }
    #section1 div div{
        display: flex;
        flex-direction: column;
    }

    #section1 img{
        width: 60px;
        height: 80px;
        border-radius: 10px;
    }
    #section1 div div h1{
        font-size: 2rem;
    }
    #section1 div div h3{
        font-size: 0.8rem;
    }
    #section1 div h4{
        font-size: 0.5rem;
    }
   
    .portfolioContent{
        gap: 1vh;
        width: 100%;
        padding: 1%;
    }
  
    .service ul {
        gap: 0;
        justify-content: flex-start;
    }
   
   h1{
        font-size: 4vw;
   }
   h3{
        font-size: 3vw;
   }
   h4{
        font-size: 2vw;
   }
   .service ul{
        flex-direction: column;
   }
 
   .aprops{
        display: flex;
        flex-direction: column;
        align-items: center;
   }
   .service ul li{
    font-size: 3vw;
   }
   .aprops p{
        font-size: 2vw;
        text-align: left;
        box-shadow: none;
   }
   .card{
        min-width: 300px;
   }
  
   .portfolio{
    flex-direction: column;
    align-items: center;
    position: relative;
}
aside{
    width: 100%;
    height: fit-content;
    margin: 0;
    justify-content: center;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 2px;
    border-radius: 0;
}
h4{
    font-size: 1.5vw;
}
aside ul {
    flex-direction: row;
    flex-wrap: wrap;
    background: none !important;
}
aside ul h1{
    display: none;
}
aside ul li{
    margin: 0 0.3rem;
}

aside ul li a{
    font-size: 2vw;
    text-transform: uppercase;
    color: gray;
}
form{
    grid-template-columns: 1fr;

}
#submit{
    bottom: -50px;
   right: 2px;
}
#submit:hover{
    background-color: gray;
    color: white;
}

.inputcon{
    position: relative;
}
label{
    position: absolute;
    right: 1px;
    bottom: -5px;
    color: black;
    border: 1px solid;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    font-size: 1vw;
}
#ms{
    position: relative;
    color: white;
    border: none;
}
}
@media screen and (max-width:400px){
    label{
        font-size: 2vw;
        bottom: -2px;
        right:4px;
    }
    #section1{
        padding: 10px;
    }
}
/*============================== animation ==================*/

    



