.section1{
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 400px;
    overflow: hidden;
    margin: 1%;
    padding: 1%;
    
    border-radius: 20px;
}
.sous-sec1{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.sous-sec1 .btns{
    width: 100% !important;
    align-items: center !important;
    flex-direction: column !important;
}
.sous-sec1 img{
    width: 100%;
    height: 70%;
}
.sous-sec2{
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 60%;
}

.sous-sec2 .carte{
    width: 50% !important;
   
}
.sous-sec2 h1{
    color: black;
    font-size: 2vw;
}

.projects{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    gap: 1rem;
    padding: 1rem;
    overflow: auto;
}

.img{
    height: 50% !important;
}

@media screen and (max-width: 767px){
    .Projets-container{
        background-color: white;
    }
    
    .section1{
        flex-direction: column-reverse;
        height: fit-content;
        gap: 1vh;
        padding-top: 3rem;
        height: fit-content !important;
       
        background-color: white !important;
        width: 100% ;
    }
    .sous-sec2 .carte{
        min-width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
    }
    .sous-sec2{
        width: 100%;
        align-items: center;
        border-top: 4px dashed black ;
        padding: 0;
        height: fit-content !important;
       
    }
    h1{
        color: black !important;
        margin-left: 0.5rem;
        font-size: 3vw;
        border-bottom: 2px solid black;
    }
    .sous-sec2 h1{
        display: none;
    }
    .sous-sec2 .carte{
        flex-direction: column !important;
        background:none ;
        position: relative !important;
    }
    .sous-sec2 .carte img{
        width: 100%;
        height: 100% !important;
        border-radius: 0 !important;
    }
    .sous-sec2 .carte .card-corps{
        bottom: 2px;
        color: black !important;
        font-weight: bold;
        opacity: 2;
      
    }
    .sous-sec2 .carte .card-corps p{
        font-size: 3vw !important;
    }
    .sous-sec2 .carte .card-corps a i{
        color:  red;
        font-size: 5vw !important;
    }
    .sous-sec2 .carte .card-corps h5{
        color: black !important;
    }

    .sous-sec2 h1{
       
        text-transform: uppercase;
        font-weight: bold;
    }
    .sous-sec2 p{
        font-size: 2vw;
    }
    .sous-sec1 .btns button{
        border-radius: 20px !important;
        
    }
    .sous-sec1 .btns button:nth-child(2){
        background-color: aquamarine;
    }
    .sous-sec1 .btns button:nth-child(1){
        background-color: palevioletred;
    }
    .sous-sec1 .btns{
        flex-direction: row !important;
        width: 100% !important;
    }
  
    .sous-sec1 img{
        display: none;
    }
    .sous-sec1{
      
    }
}
@media screen and (max-width : 400px){
    
}

