.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #473e66;
    height: 500px;
  }
  
  .carousel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
   

  }
  
  /*.carousel img {
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }*/
  
  .description {
    margin: 10px 0;
    font-size:1vw;
    text-align: center;
   
    
  }
  .legend{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-weight: bold;

  
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
  }
 
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    border: none;
    font-size: 4vw;
    cursor: pointer;
    animation: none;
    height: fit-content;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  .arrow:hover{
    outline: none;
    animation: none;
  }
  
 
  
  .arrow.prev {
    left: 10px;
  }
  
  .arrow.next {
    right: 10px;
  }

  @media screen and (max-width : 767px) {
    .arrow{
      font-size: 8vw !important;
    }
  
 
  }
  @media screen and (max-width: 400px){
   
  }
 